body {
    background-color: #191a1d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    background-image: url("pawel-nolbert-4u2U8EO9OzY-unsplash.jpg");
    height: 100vh;
    flex: 1;
  
    
}

footer {
    color: #dcdef5;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #dcdef5;
}

button {
    margin-top: 30px;
    padding: 5px 22px;
    font-size: 1.2em;
    border-radius: 5px;
    color: #ebebf9;
    background-color: #454c99;
}

label {
    display: block;
   margin-bottom: 8px;
}

input {
    margin-right: 3em;
    margin-top: 4px;
    display: block;
    width: 25ch;
    line-height: 1.5em;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}

input:hover {
    border: 2px solid lightblue;

}

input:focus {
    border: 2px solid lightblue;
    box-shadow: 0px 3px 3px #aeb1d0;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 40rem;
    
}

.banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.content {
    flex: 2;
    background-color: #dcdef5;
}

.form {
    background-color: #dcdef5;
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.section1, .section2, .section3 {
    flex: 1;
}

.banner > .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    background-color: #dcdef5;
    opacity: 0.6;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo > img {
    height: 80%;
    margin: 0;
    flex-shrink: 1;
}

.logo > h1 {
    font-size: 3.5em;
    flex-shrink: 1;
    font-family: "Salsa", sans-serif;
}



.banner > .section3 p {
    color: #dcdef5;
    position: absolute;
    bottom: 0;
   font-size: 0.7em;
    
}

.banner > .section3  a {
    color: #dcdef5;
}

.form > .section1 {
    padding: 0px 28px;
   position: relative;

}

.form > .section1 > p {
    position: absolute;
    bottom: 0;
    max-width: 32rem;
    padding-bottom: 16px;
    font-weight: bold;
}

.form > .section2 {
    background-color: #ebebf9;
    padding: 0px 28px;
    box-shadow: 0px 3px 3px #aeb1d0;
    
}

.form > .section3 {
padding: 0px 28px;
}